/* Light mode */
.container {
  background-color: #f3f4f6;
  color: #333;
}

.input-field {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
}

/* Dark mode */
.dark {
  background-color: #333;
  color: #fff;
}

.dark .input-field {
  background-color: #444;
  border-color: #555;
  color: #fff;
}

.dark .btn {
  background-color: #1e1e1e;
}
